
@{
    ViewBag.Title = "PeyVerilenler";
}

@model List<WebService.Dto.KullaniciPeyDto>
<br />
<div class="col-lg-3" style="padding-top: 100px">
    <div style="padding-left:  40px">

        <ul class="list-group">
            <li class="list-group-item "><a href="/Kullanici/KullaniciB"><h5>Bilgilerim</h5></a></li>
            <li class="list-group-item "><a href="/Kullanici/Sepet"><h6>Sepetim</h6></a></li>
            <li class="list-group-item  "><a href="/Kullanici/Siparis"><h6>Siparişlerim</h6></a></li>
            <li class="list-group-item active " style="background-color: crimson"><a href="/Kullanici/PeyVerilenler"><h6>Pey verdiklerim</h6></a></li>
            <li class="list-group-item"><a href="/Kullanici/Muzayedelerim"><h6>Muzayedelerim</h6></a></li>
            <li class="list-group-item "><a href="/Kullanici/Urunlerim"><h6>Ürünlerim</h6></a></li>
            <li class="list-group-item"><a href="/Kullanici/LogOut"><h6>Çıkış Yap</h6></a></li>

        </ul>

    </div>
</div>
<div style="padding-left:  20px">

    <div class="container-fluid mt-100" style="padding-top: 100px">
        <div class="row">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                    <tr>
                                        <th>Resim</th>
                                        <th>Muzayede Adı</th>
                                        <th>Urun Adı</th>
                                        <th>Urun Aciklamasi</th>
                                        <th>Urun Fiyatı</th>
                                        <th>Urun pey</th>
                                        <th>Pey verilen tarih</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt=""></td>
                                            @if(@item.MUrunDto.muzayede != null){
                                                <td>@item.MUrunDto.muzayede.MuzayedeAdi</td>
                                            }
                                            else
                                            {
                                                <td>---</td>
                                            }
                                            <td>@item.MUrunDto.Urundto.UrunAdi</td>
                                            <td> <span>@item.MUrunDto.Urundto.UrunAciklamasi</span> </td>
                                            <td>@item.MUrunDto.Urundto.UrunFiyat</td>
                                            <td>@item.Pey</td>
                                            <td> @item.PeyZaman</td>
                                        </tr>
                                    }   
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>